{% set menus = menu_service.findAll %}
{% set configs = config_service.findAll %}
{% set ea_edit_current_entity = null %}

{% if entity is defined %}
	{% set label_edit_current_entity = entity_label(entity) %}
	{% set ea_edit_current_entity = ea_edit(entity) %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}
				{{ configs['blog_title'] }}
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<a href="{{ path('home') }}">
				<h1><img class="logo-image" src="{{ asset('images/logo.png') }}" alt="Logo"></h1>
			</a>

			<nav>
				<a href="{{ path('admin') }}">Dashboard</a>
				<a href="{{ path('home') }}">Home</a>

				<div class="dropdown">
					<a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Category
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for category in cats.getCategory %}
							<li>
								<a class="dropdown-item" href="{{ path('product_category', {'slug': category.slug}) }}">{{ category.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<a href="{{ path('blog_list') }}">Blog</a>
				<a href="{{ path('product_all') }}">Product</a>
				<a href="{{ path('project_index') }}">Project</a>
				<a href="{{ path("message") }}">Message</a>
				<a href="{{ path('contact_index') }}">Contact</a>
			</nav>
				{{ render(controller('App\\Controller\\SearchBarController::index')) }}
			<div class="icons">

				<a href="{{ path('cart_index') }}">
					<i class="fas fa-shopping-cart"></i>
				</a>

				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					{# <a href="{{ path('order_list') }}"> #}
					<a href="{{ path('profile_index') }}">
						<i class="fas fa-user"></i>
						{{ app.user.username }}</a>
					<a href="{{ path('logout') }}" class="btn btn-danger">
						<i class="fa-solid fa-right-from-bracket"></i>
					</a>
				{% else %}
					<a href="{{ path('login') }}">
						<i class="fas fa-user"></i>
						Log in</a>
					<a href="{{ path('register') }}">Sign in</a>
				{% endif %}
			</div>
		</header>
	</body>
	<main>
		{% block main %}
			{% for message in app.flashes("message") %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endblock %}
	</main>
	{% include '_partials/_flash.html.twig' %}
	{% include '_partials/_footer.html.twig' %}
</html>
